<%- include ('./partials/header') -%>

<header>
   <h1>PM2 Watch & Monitor</h1>
</header>
<main>
   <p>
      This application's function is to monitor all PM2 processes and report any problems via email.
      The app keeps a report of all email messages sent, errors with email messages, the processes that
      run into issues, and any internal errors.  If the application isn't able to write to the error logs,
      please check your server's console to see the printed failures and writing logs' problems.  There's
      also a debug option in the application that allows you to see everything happening in the server's console.
   </p>
</main>


<%- include ('./partials/footer') -%>
